name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file:
            go.mod

      - name: Build
        run: go build .
      - name: Run Unit Tests
        run: go test ./...
        
